<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://storage.filebin.net/filebin/55853784216d0a32104ce82333d27663ed11d5176d7725b0aba00b9479849340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=GK352fd2505074fc9dde7fd2cb%2F20260502%2Fhel1-dc4%2Fs3%2Faws4_request&X-Amz-Date=20260502T235422Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&response-cache-control=max-age%3D900&response-content-disposition=inline%3B%20filename%3D%22ESign.ipa%22&response-content-type=application%2Fzip&x-id=GetObject&X-Amz-Signature=8d1ca7dc7a65843ec77a006799c4c27608b7cb8ac3697d00b4214eb02c316328</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>https://appstore.nabzclan.vip/images/1761695686.webp</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>https://appstore.nabzclan.vip/images/1761695686.webp</string>
</dict>
</array>
<key>metadata</key>
<dict>
                <key>bundle-identifier</key>
                <string>p3.xyz.yyyue.esign.zls</string>
                <key>bundle-version</key>
                <string>5.0.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>esign-test</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
